* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Georgia, serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 250, 252);
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif
}




.app {
  display: flex;
  flex: 1;
  flex-direction: column;
}


.intro {
  display:none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse closest-side at 50% 50%, #3a3f45, #37383c 25%, #343233);
  color: white;
  /*height: 90vh;*/
  width: 100%;

  h2 {
    text-align: center;
    color: #c4ced7;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* 320-600 easily */
//@media (max-width: 600px) {
  .intro {
    padding: 1rem;
    min-height: 85vh;

    h1 {
      font-size: 2.2em;  
      margin-bottom: 1rem;
    }

    h2   {
      font-size: 1em;
      margin-bottom: 1rem;
    }

    .fce {                              
      width: 100%;
      .code {
        font-size: 13px;
      }
    }
  }

  .about {
    padding: 2rem;

    h1 {
      font-size: 1.7em;
      margin-bottom: 2rem;
    }

    .speak {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .circular-image {
        height: 150px;
        width: 150px;
        margin-bottom: 2rem;
      }
  


      p {
        text-align: center;
        line-height: 1.2; //1.7;
        //font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
        //text-indent: 1em;
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .skills { 
    padding: 1rem;

    h1 {
      font-size: 1.7em;
      margin-bottom: 1rem;
    }



    .category  {
      max-width: 1000px;
      h2 {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      &:first-of-type {
        h2 {
          margin-top: 0;
        }
      }

      .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .skill-item {
          height: 100px;
          width: 80px;
          .title {
            font-size: 11px;
          }
          

          .image {
            height: 42px;
            width: 42px;
          }
        }
      }
    }
  }
//}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) 
@media  (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) 
@media (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media (min-width: 1200px) {

}*/