// ignore this file

$h1-font: Helvetica, Arial, sans-serif;
$h2-font: $h1-font;
$hx-font: $h1-font;
$text-font: -apple-system, BlinkMacSystemFont, Georgia, serif, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
$quoted-text-font: arial;
$line-height: 1.2;
$bg-color: rgb(247, 250, 252);


/* xsmall/base */
$intro-spacing: 1rem;
$intro-height: auto;
$intro-h1-font: $h1-font;
$intro-h2-font: $h2-font;
$intro-h1-size: 2em;
$intro-h2-size: 1em;
$intro-h1-margin-bottom: 1rem;
$intro-h2-margin-bottom: 1rem;
$intro-h1-color: white;
$intro-h2-color: #c4ced7;
$intro-bg-image: radial-gradient(ellipse closest-side at 50% 50%, #3a3f45, #37383c 25%, #343233);

$step-spacing: 1rem;
$step-height: auto;
$step-h1-font: $h1-font;
$step-h2-font: $h2-font;
$step-h1-size: 1.7em;
$step-h2-size: 1em;
$step-h1-margin-bottom: 1rem;
$step-h2-margin-bottom: 1rem;